@media (min-width: 320px) and (max-width: 576px) {

    /*-----navbar start-----*/
    .navbar-brand img {
        width: 80px;
    }

    .navbar-toggler {
        color: rgba(255, 255, 255, 0.7);
        border: var(--bs-border-width) solid #ffffff4d;

    }

    header nav ul {
        gap: 8px;
    }

    header nav ul li a {
        font-size: 16px;
        font-weight: 500;
    }

    header nav button {
        padding: 5px 14px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
    }

    /*-----navbar end------*/
    /*-----banner start-----*/
    #banner .overlay {
        padding: 150px 0 50px 0;
    }

    #banner .shape1 {
        top: 90px;
    }

    #banner .shape2 {
        width: 100px;
        right: 0px;
        bottom: 0px;
    }

    #banner .overlay .container h1 {
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
    }

    #banner .overlay .container p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin: 12px auto;
    }

    #banner .overlay .container button {
        position: relative;
        border-radius: 100px;
        padding: 5px 14px;
        font-size: 14px;
        font-weight: 500;
    }

    /*-----banner end-----*/
    /*-----fun-fact start-----*/
    #fun-fact img {
        width: 150px;
    }

    #fun-fact .container .row {
        padding: 45px 0;
        margin: 0;
    }

    #fun-fact .container .row h2 {
        padding-left: 30px;
        font-size: 32px;
        font-weight: 700;
        line-height: 25px;
    }

    #fun-fact .container .row p {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 600;
        line-height: 20px;
    }

    #fun-fact .container .row #item::before {
        height: 50px;
        right: 110px;
    }

    /*-----fun-fact end-----*/
    /*-----choose start-----*/
    #choose img {
        width: 200px;
    }

    #choose .row {
        padding: 30px 0;
    }

    #choose .row .item {
        width: auto;
    }

    #choose .row .item:hover {
        padding: 18px 14px;
        margin-bottom: 15px;
    }

    #choose .row .item .roundone {
        width: 15px;
        height: 15px;
    }

    #choose .row .item .roundtwo {
        width: 15px;
        height: 15px;
        margin-left: 7px;
    }

    #choose .row .item p {
        font-size: 14px;
        line-height: 20px;
    }

    #choose .row .right_part h2 {
        font-size: 32px;
    }

    #choose .row .right_part p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        width: auto;
    }

    #choose .row .right_part button {
        padding: 5px 14px;
        font-size: 14px;
        font-weight: 500;
    }

    /*-----choose end-----*/
    /*-----do start-----*/
    #do .container .row {
        padding: 40px 0;
    }

    #do .container .row .item h2 {
        font-size: 32px;
    }

    #do .container .row .item p {
        font-size: 14px;
    }

    #do .container .row .item button {
        padding: 5px 14px;
        font-size: 14px;
        font-weight: 500;
    }

    #do .container .row .cart {
        margin-top: 15px;
    }

    #do .container .row .cart h3 {
        font-size: 28px;
        line-height: 25px;
        margin-top: 20px;
    }

    #do .container .row .cart p {
        font-size: 14px;
        line-height: 22px;
        width: auto;
        margin: 12px auto 14px auto;
    }

    #do .container .row .cart a {
        font-size: 14px;
        line-height: 18px;
    }

    #do .container .row .cart a::after {
        width: 22px;
        height: 30px;
    }

    #do .container .row .cart {
        padding: 30px 0;
    }

    /*-----do end-----*/
    /*-----impact start-----*/
    #impact {
        padding: 40px 0;
    }
    #impact .container h2 {
        font-size: 32px;
    }

    #impact .container p {
        font-size: 14px;
        line-height: 22px;
        width: auto;
        margin: 15px auto 30px auto;
    }

    #impact .container .row #left img {
        width: 32px;
        height: 32px;
    }

    #impact .container .row #left h3 {
        font-size: 24px;
        line-height: 25px;
    }

    #impact .container .row #left p {
        font-size: 14px;
        line-height: 22px;
        width: auto;
    }
    #impact .container .row #left .text p {
        width: auto;
    }
    #impact .container .row .right {
       width: 330px;
       margin-top: 0;
    }
    #impact .shape {
        width: 150px;
    }
    /*-----impact end-----*/
}